workflows/webhooks/send-reminder.json
{
  "name": "Send Reminder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-reminder",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "webhookId": "send-reminder-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Process reminder request\nconst body = $json.body || $json;\nconst user_id = body.user_id || 'demo-user';\nconst content = body.content || body.ideas || [];\nconst reminder = body.reminder || {};\nconst channel = body.channel || 'twitter';\nconst score = body.score || 0;\nconst reason = body.reason || 'Optimal posting time';\n\n// Get user email from preferences\nreturn [{json: {user_id, content, reminder, channel, score, reason, notification_prepared: true}}];"
      },
      "id": "process-reminder",
      "name": "Process Reminder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{$vars.SUPABASE_URL}}/rest/v1/user_preferences?select=email,notification_preferences&user_id=eq.{{$json.user_id}}&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.SUPABASE_ANON_KEY}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "get-user-contact",
      "name": "Get User Contact Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Format reminder email\nconst base = $items('Process Reminder')[0]?.json || {};\nconst userPrefs = Array.isArray($json) ? ($json[0] || {}) : ($json || {});\nconst email = userPrefs.email || base.user_id + '@example.com';\n\nconst reminderTime = new Date(base.reminder?.time || Date.now());\nconst contentPreview = Array.isArray(base.content) ? \n  base.content[0]?.hook || base.content[0]?.concept || 'Your content' :\n  (base.content?.hook || base.content?.concept || 'Your content');\n\nconst subject = `⏰ Reminder: Time to post on ${base.channel || 'social media'}!`;\n\nconst htmlBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 20px; border-radius: 8px 8px 0 0; }\n    .content { background: #f9fafb; padding: 20px; border: 1px solid #e5e7eb; }\n    .reminder-box { background: white; padding: 16px; border-left: 4px solid #667eea; margin: 16px 0; }\n    .score { display: inline-block; background: #10b981; color: white; padding: 4px 12px; border-radius: 12px; font-size: 12px; font-weight: bold; }\n    .button { display: inline-block; background: #667eea; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; margin: 8px 0; }\n    .footer { text-align: center; color: #6b7280; font-size: 12px; margin-top: 20px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>⏰ Posting Reminder</h1>\n      <p>Optimal time to share your content!</p>\n    </div>\n    <div class=\"content\">\n      <div class=\"reminder-box\">\n        <h2>${contentPreview}</h2>\n        <p><strong>Channel:</strong> ${base.channel || 'Social Media'}</p>\n        <p><strong>Optimal Time:</strong> ${reminderTime.toLocaleString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit' })}</p>\n        <p><span class=\"score\">Score: ${base.score || 0}/100</span></p>\n        <p><strong>Why now?</strong> ${base.reason || 'Optimal engagement time based on historical data'}</p>\n      </div>\n      <p>This is the perfect time to share your content for maximum engagement!</p>\n      <a href=\"${$vars.DASHBOARD_URL || 'http://localhost:3000'}/reminders\" class=\"button\">View in Dashboard</a>\n    </div>\n    <div class=\"footer\">\n      <p>This reminder was generated by Viral n8n Platform</p>\n      <p>You can manage reminders in your dashboard settings</p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nreturn [{\n  json: {\n    ...base,\n    email,\n    subject,\n    htmlBody,\n    ready_to_send: true\n  }\n}];"
      },
      "id": "format-email",
      "name": "Format Reminder Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "sendTo": "={{$json.email}}",
        "subject": "={{$json.subject}}",
        "message": "={{$json.htmlBody}}",
        "options": {
          "format": "html"
        }
      },
      "id": "send-email",
      "name": "Send Email Reminder",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1050, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-cred",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.SLACK_WEBHOOK_URL || ''}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {text: '⏰ Reminder: Time to post!', blocks: [{type: 'section', text: {type: 'mrkdwn', text: `*Optimal Posting Time*\\n\\n*Content:* ${($json.contentPreview || 'Your content').substring(0, 100)}\\n*Channel:* ${$json.channel}\\n*Time:* ${new Date($json.reminder?.time || Date.now()).toLocaleString()}\\n*Score:* ${$json.score}/100\\n\\n${$json.reason}`}}]} }}",
        "options": {}
      },
      "id": "send-slack",
      "name": "Send Slack Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{$vars.SUPABASE_URL}}/rest/v1/reminders?reminder_id=eq.{{$json.reminder?.reminder_id || 'unknown'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {status: 'sent', sent_at: new Date().toISOString()} }}",
        "options": {}
      },
      "id": "update-status",
      "name": "Update Reminder Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {success: true, reminder_sent: true, channel: $json.channel, timestamp: $now} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{json: {documentation: {name: \"Send Reminder\", description: \"Sends reminder notifications via email and Slack when optimal posting time arrives\", input: {user_id: \"User identifier\", content: \"Content to remind about\", reminder: \"Reminder details\", channel: \"Target channel\", score: \"Engagement score\", reason: \"Why this time is optimal\"}, output: {success: \"Boolean\", reminder_sent: \"Boolean\"}, required_variables: [\"SUPABASE_URL\", \"SUPABASE_ANON_KEY\", \"SLACK_WEBHOOK_URL (optional)\"], required_credentials: [\"Gmail OAuth2\"]}}}]"
      },
      "id": "doc",
      "name": "Documentation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [50, 300]
    }
  ],
  "connections": {
    "Documentation": {
      "main": [
        [
          {
            "node": "Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Reminder": {
      "main": [
        [
          {
            "node": "Get User Contact Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Contact Info": {
      "main": [
        [
          {
            "node": "Format Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Reminder Email": {
      "main": [
        [
          {
            "node": "Send Email Reminder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Slack Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Reminder": {
      "main": [
        [
          {
            "node": "Update Reminder Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Reminder": {
      "main": [
        [
          {
            "node": "Update Reminder Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Reminder Status": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": ["reminder", "notification"]
}

