workflows/webhooks/trending-content.json
{
  "name": "Trending Content Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trending-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "webhookId": "trending-content-webhook"
    },
    {
      "parameters": {
        "url": "={{$vars.SUPABASE_URL}}/rest/v1/trending_topics?select=*&order=engagement_score.desc&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.SUPABASE_ANON_KEY}}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-trending",
      "name": "Get Trending Topics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Use top trending topic\nconst trends = Array.isArray($json) ? $json : [];\nconst topTrend = trends[0] || {keyword: 'trending'};\n\nreturn [{json: {keyword: topTrend.keyword, topics: [topTrend.keyword], organization_type: 'general', region: topTrend.region || 'HU', from_trending: true}}];"
      },
      "id": "select-trend",
      "name": "Select Top Trend",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "source": "database"
      },
      "id": "call-generation",
      "name": "Call Content Generation",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {success: true, keyword: $items('Select Top Trend')[0].json.keyword, ideas: $json.ideas || [], ideas_count: $json.ideas_count || 0, from_trending: true, timestamp: $now} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Trending Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Trending Topics": {
      "main": [
        [
          {
            "node": "Select Top Trend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Top Trend": {
      "main": [
        [
          {
            "node": "Call Content Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Content Generation": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": ["webhook", "trending"]
}

