workflows/core/publishing-hub.json
{
  "name": "Publishing Hub",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Input: {content, channels: ['twitter', 'linkedin', ...]}\n// Output: Publishing tasks\n\nconst content = $json.content || $json.hook || $json.text || '';\nconst channels = $json.channels || [];\n\n// Create publishing tasks for each channel\nconst tasks = channels.map(channel => ({\n  json: {\n    content,\n    channel,\n    original: $json\n  }\n}));\n\nreturn tasks.length > 0 ? tasks : [{json: {content, channels, error: 'No channels specified'}}];"
      },
      "id": "prepare-tasks",
      "name": "Prepare Publishing Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.channel}}",
              "rightValue": "twitter",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-channel",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [450, 300],
      "parameters": {
        "options": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{$json.channel}}",
                      "rightValue": "twitter",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "twitter"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{$json.channel}}",
                      "rightValue": "linkedin",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "linkedin"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{$json.channel}}",
                      "rightValue": "mastodon",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "mastodon"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{$json.channel}}",
                      "rightValue": "newsletter",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "newsletter"
              }
            ]
          }
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "source": "database"
      },
      "id": "publish-twitter",
      "name": "Publish Twitter",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [650, 100]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "source": "database"
      },
      "id": "publish-linkedin",
      "name": "Publish LinkedIn",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "source": "database"
      },
      "id": "publish-mastodon",
      "name": "Publish Mastodon",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "source": "database"
      },
      "id": "publish-newsletter",
      "name": "Publish Newsletter",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [650, 400]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate publishing results\nconst allInputs = $input.all();\nconst results = [];\n\nfor (const input of allInputs) {\n  results.push(input.json);\n}\n\nconst successCount = results.filter(r => r.success).length;\nconst totalCount = results.length;\n\nreturn [{\n  json: {\n    results,\n    success_count: successCount,\n    total_count: totalCount,\n    all_successful: successCount === totalCount,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{json: {documentation: {name: \"Publishing Hub\", description: \"Multi-channel publishing coordinator\", input: {content: \"Content to publish\", channels: \"Array of channel names ['twitter', 'linkedin', 'mastodon', 'newsletter']\"}, output: {results: \"Array of publishing results\", success_count: \"Number of successful publishes\", all_successful: \"Boolean\"}, required_workflows: [\"Twitter Publisher\", \"LinkedIn Publisher\", \"Mastodon Publisher\", \"Newsletter Sender\"]}}}]"
      },
      "id": "doc",
      "name": "Documentation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [50, 300]
    }
  ],
  "connections": {
    "Documentation": {
      "main": [
        [
          {
            "node": "Prepare Publishing Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Publishing Tasks": {
      "main": [
        [
          {
            "node": "Route by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Channel": {
      "main": [
        [
          {
            "node": "Publish Twitter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish LinkedIn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish Mastodon",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish Newsletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Twitter": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish LinkedIn": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Mastodon": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Newsletter": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": ["publishing", "multi-channel"]
}

