workflows/users/journalist-workflow.json
{
  "name": "Journalist Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "journalist-content",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "webhookId": "journalist-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Process journalist request\nconst body = $json.body || $json;\n\nreturn [{\n  json: {\n    user_id: body.user_id || 'journalist-001',\n    keyword: body.keyword || body.topic || '',\n    topics: body.topics || [],\n    organization_type: 'journalist',\n    region: body.region || 'HU',\n    prompt: body.prompt || '',\n    fact_check_required: true,\n    publish_channels: body.channels || []\n  }\n}];"
      },
      "id": "process-request",
      "name": "Process Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "source": "database"
      },
      "id": "call-memory",
      "name": "Call Memory System",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.should_generate}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-generate",
      "name": "Should Generate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "source": "database"
      },
      "id": "call-generation",
      "name": "Call Content Generation",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "source": "database"
      },
      "id": "call-enhancement",
      "name": "Call Content Enhancement",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "jsCode": "// Filter ideas that pass fact-check\nconst ideas = $json.ideas || [];\n\nconst factCheckedIdeas = ideas.filter(idea => {\n  // Journalist workflow: prioritize fact-checked content\n  return idea.factCheckPrompts && idea.factCheckPrompts.length > 0;\n});\n\nreturn [{\n  json: {\n    ideas: factCheckedIdeas.length > 0 ? factCheckedIdeas : ideas,\n    fact_check_applied: true,\n    original_count: ideas.length,\n    filtered_count: factCheckedIdeas.length\n  }\n}];"
      },
      "id": "filter-factcheck",
      "name": "Filter by Fact-Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "jsCode": "// Publish to selected channels\nconst ideas = $json.ideas || [];\nconst channels = $items('Process Request')[0]?.json?.publish_channels || [];\n\nif (channels.length === 0) {\n  return [{\n    json: {\n      ideas,\n      published: false,\n      message: 'No channels selected'\n    }\n  }];\n}\n\n// For each idea, prepare for publishing\nconst publishTasks = [];\nfor (const idea of ideas.slice(0, 3)) { // Limit to 3 ideas\n  for (const channel of channels) {\n    publishTasks.push({\n      json: {\n        content: idea.hook || idea.concept || '',\n        channel,\n        idea_id: idea.id\n      }\n    });\n  }\n}\n\nreturn publishTasks;"
      },
      "id": "prepare-publish",
      "name": "Prepare Publishing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.channel}}",
              "rightValue": "twitter",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "route-channel",
      "name": "Route by Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1850, 200],
      "parameters": {
        "options": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{$json.channel}}",
                      "rightValue": "twitter",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "twitter"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{$json.channel}}",
                      "rightValue": "linkedin",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "linkedin"
              }
            ]
          }
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "source": "database"
      },
      "id": "publish-twitter",
      "name": "Publish to Twitter",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [2050, 100]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "source": "database"
      },
      "id": "publish-linkedin",
      "name": "Publish to LinkedIn",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {success: true, ideas_generated: $json.ideas?.length || 0, published: true, timestamp: $now} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [2250, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {success: false, duplicate: true, message: 'Duplicate content detected'} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-duplicate",
      "name": "Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Request": {
      "main": [
        [
          {
            "node": "Call Memory System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Memory System": {
      "main": [
        [
          {
            "node": "Should Generate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Generate?": {
      "main": [
        [
          {
            "node": "Call Content Generation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Content Generation": {
      "main": [
        [
          {
            "node": "Call Content Enhancement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Content Enhancement": {
      "main": [
        [
          {
            "node": "Filter by Fact-Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter by Fact-Check": {
      "main": [
        [
          {
            "node": "Prepare Publishing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Publishing": {
      "main": [
        [
          {
            "node": "Route by Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Channel": {
      "main": [
        [
          {
            "node": "Publish to Twitter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Publish to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to Twitter": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to LinkedIn": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": ["journalist", "fact-check"]
}

