workflows/utils/trending-monitor.json
{
  "name": "Trending Monitor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trending-topics",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [250, 300],
      "webhookId": "trending-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Process trending topics from scraper\nconst body = $json.body || $json;\nconst trendingTopics = body.trendingTopics || [];\n\n// Sort by relevance/engagement\nconst sorted = trendingTopics.sort((a, b) => {\n  const aScore = (a.traffic || 0) + (a.tweetVolume || 0) + (a.articles || 0);\n  const bScore = (b.traffic || 0) + (b.tweetVolume || 0) + (b.articles || 0);\n  return bScore - aScore;\n});\n\nreturn [{\n  json: {\n    trendingTopics: sorted.slice(0, 20),\n    totalCount: trendingTopics.length,\n    timestamp: body.timestamp || new Date().toISOString()\n  }\n}];"
      },
      "id": "process-trends",
      "name": "Process Trending Topics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.SUPABASE_URL}}/rest/v1/trending_topics",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$vars.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$vars.SUPABASE_ANON_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.trendingTopics.map(t => ({keyword: t.keyword, source: t.source, region: t.region, engagement_score: (t.traffic || 0) + (t.tweetVolume || 0) + (t.articles || 0), timestamp: $json.timestamp})) }}",
        "options": {}
      },
      "id": "store-trends",
      "name": "Store Trending Topics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {success: true, topics_stored: $json.trendingTopics?.length || 0, timestamp: $now} }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process Trending Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Trending Topics": {
      "main": [
        [
          {
            "node": "Store Trending Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Trending Topics": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "tags": ["trending", "utility"]
}

